:root {
    --header-height: 90px;
    --footer-height: 0px;
    --scroll-width: 12px;
    --label-height: 0px;
    --vw:100vw;
    --vh:100vh;
    --max-width: calc(100vw - var(--scroll-width));
    --hover-color:red;
    --focus-color:green;
}

html,
body {
    margin: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: block; */
    /* width: 100vw; */
    width: var(--max-width);
    height: var(--vh);
}
header {
    /* width: 100vw; */
    width: var(--max-width);
    height: var(--header-height);
    background:teal;
}
 header h1{
    margin-top: 0px;
    margin-bottom: 0px;
 }
.title {
    font-family: "Alexandria", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 42px;
    padding-left: 40px;
    /* padding-top: 10px; */
}
footer {
    height: var(--footer-height);
    background-color: aquamarine;
}
label {
    font-size: 15px;
}

.label-height {
    height: var(--label-height);
    /* display: none; */
}

#row-holder {
    width: 100%;
    height: calc(var(--vh) - var(--header-height) - var(--footer-height) - var(--label-height));
}

.row-thing {
    width: 100%;
    background-color: white;
    min-height: 40px;
}

.row-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.row-thing > div {
    /* flex: 1;  */
    text-align: center;
    font-size: 32px;
    font-family: "Alexandria", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    -webkit-user-select: none; /* Safari */
    user-select: none;
}

.row-thing:hover{
    color:var(--hover-color) !important;
}
.row-thing:focus-within {
    color: var(--focus-color) !important;
}

.custom-scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    width: var(--scroll-width);
    height: 100%;
    background: rgba(235, 235, 235, 1);
    z-index: 1000;
}

.scroll-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* border-radius: 6px; */
    cursor: pointer;
    transition: background 0.2s;
}

.scroll-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
}

.loader {
    position: absolute;
    width: var(--vw);
    height: var(--vh);
    background: white;
    transition: background 0.1s;
}

/* Template */
.spacer{
    flex: 1;
}
.colName{
    flex: 1;
}
.colHex{
    flex: 1;
    text-wrap: nowrap;
}



/* Icon Tray */
.icon-tray{
    display: flex;
    flex-direction:row;
    gap:10px;
}
.icon-tray img{
    /* width: 25px; */
    height: 25px;
    background: none;
    border: none;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}
.settings-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0px;
}
.settings-btn img {
    transition: transform 0.3s ease, filter 0.3s ease;
}
.settings-btn:hover img {
    transform: rotate(30deg);
    filter: hue-rotate(200deg);
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
}
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    /* border-radius: 10px; */
    min-height: 150px;
    width: 300px;
    text-align: center;
    position: relative;
}
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}
.settings-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.settings-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.settings-form label {
    flex-grow: 1;
    text-align: left;
}
.settings-form select {
    flex-grow: 1;
}
.settings-toggle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.settings-toggle label {
    flex-grow: 1;
    text-align: left;
}
.settings-toggle input {
    flex-grow: 1;
}




/* MOBILE */
@media only screen and (max-width: 600px) {
    .spacer{
        flex: 0; /*meh*/
    }
}

@supports(height: 100dvh) {
    :root {
        --vh:100dvh;
        --vw:100dvw;
    }
}