html, body {
    margin: 0;
    overflow: hidden;
    display:flex;
    align-items:center;
    justify-content: center;
    /* display: block; */
    width: 100vw;
}

header,main,nav{
    width: 100vw;
}

header{
    font-size: 20px;
    height:var(--header-height);
}
footer{
    height:var(--footer-height);
    background-color: aquamarine;
}

:root {
    --header-height: 50px;
    --footer-height: 0px;
    --scroll-width: 12px;
}

#row-holder{
    height: calc(100vh - var(--header-height) - var(--footer-height));
    width: 100%;
}

.row-thing{
    width: 100vw;
    background-color:white;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;  
}

.row-thing > div {
    flex: 1; /* Make child divs take equal space */
    text-align: center; /* Center text inside each child div */
}

.custom-scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    width: var(--scroll-width);
    height: 100%;
    background: rgba(235, 235, 235, 1);
    z-index: 1000;
}

.scroll-thumb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* border-radius: 6px; */
    cursor: pointer;
    transition: background 0.2s;
}

.scroll-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
}